h2 {
  text-align: center;
  color: #2f2f2f;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
}
$blue: #0099d2;
body {
  background-color: #f0f0f0;
}
.global-wrapper {
  width: 1230px;
  background-color: #ffffff;
  margin: 0 auto;
  position: relative;
}
.container {
  width: 95.122%;
  margin: 0 auto;
}
header {
  position: relative;
  .flex-ct {
    padding: 27px 0 45px;
    display: flex;
    justify-content: space-between;
  }
  .toggle {
    width: 12%;
    align-self: center;
    position: relative;
    z-index: 2;
    @media screen and (min-width: 993px){
      display: none;
    }
    #nav-icon3 {
      width: 40px;
      height: 28px;
      position: relative;
      margin: 0;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #0099d2;
        -webkit-border-radius: 9px;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        &:nth-child(1) {
          top: 0px;
        }
        &:nth-child(2), &:nth-child(3) {
          top: 12px;
        }
        &:nth-child(4) {
          top: 24px;
        }
      }
    }
    #nav-icon3.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    #nav-icon3.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    #nav-icon3.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    #nav-icon3.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
  .logo-ct {
    width: calc((100% - 430px) / 2);
  }
  .form {
    align-self: center;
    form {
      display: flex;
      justify-content: space-between;
      width: 430px;
      border-radius: 3px;
      background-color: #f0f0f0;
      input {
        width: calc(100% - 36px);
        border-radius: 3px 0 0 3px;
        border: none;
        background-color: #f0f0f0;
        color: #919191;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        padding: 9px 12px;
        transition: .3s;
        &:hover {
          box-shadow: 0 0 3px $blue;
        }
      }
      button {
        position: relative;
        width: 36px;
        border: none;
        background-color: #0099d2;
        border-radius: 0 3px 3px 0;
        transition: .3s;
        &:hover {
          opacity: .7;
        }
      }
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .icons-block {
    width: calc((100% - 430px) / 2);
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    a {
      display: block;
      text-decoration: none;
      transition: .3s;
      &:hover {
        text-decoration: underline;
      }
    }
    .icon-block {
      margin: 0 20px 0 17.5px;
      img {
        display: block;
        margin: 0 auto 10px;
      }
      p {
        text-align: center;
        color: #919191;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .bag-block {
      position: relative;
    }
    .counter-ct {
      position: absolute;
      top: -9px;
      right: -6px;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      background-color: #0099d2;
      p {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        line-height: 17.96px;
      }
    }
  }
  nav {
    display: block;
    background-color: #dceef7;
    padding: 8px 0 10px;
    .container {
      position: relative;
    }
    ul {
      display: flex;
      justify-content: space-between;
      padding: 0;
      ul {
        width: auto;
        align-self: center;
        display: flex;
        justify-content: flex-end;
        li {
          margin: 0 7px;
          align-self: center;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          a {
            padding: 0 10px;
            &::after {
              border: none;
            }
          }
        }
      }
    }
    li {
      align-self: center;
      list-style: none;
      a {
        text-decoration: none;
        color: #2f2f2f;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 17px;
        position: relative;
        &::after {
          position: absolute;
          left: 0;
          bottom: -30%;
          width: 100%;
          margin: 0 auto;
          border-bottom: 2px solid #0099d2;
          content: '';
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          opacity: 0;
          -webkit-transition: all .4s linear;
          -o-transition: all .4s linear;
          transition: all .4s linear;
        }
        &:hover::after {
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1);
          opacity: 1;
        }
      }
    }
    .sale {
      a {
        color: #0099d2;
      }
    }
    .first-A {
      background-color: #0099d2;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      a {
        align-self: center;
        color: #ffffff;
        font-size: 14px;
      }
    }
    .second-A {
      a {
        color: #ffffff;
        font-size: 14px;
      }
    }
    .third-A {
      a {
        color: #000000;
        font-size: 14px;
      }
    }
  }
}
.slider {
  .slick-slider {
    margin: 0;
  }
  .slide-ct {
    background: url("../images/slide-bg.png") no-repeat 50% 100%;
    background-size: cover;
    .text-ct {
      width: 41%;
      margin: 165px auto 175px;
    }
    h2 {
      line-height: 48px;
    }
    p {
      text-align: center;
      color: #919191;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .slick-arrow {
    font-size: 1px;
    width: auto;
    height: auto;
    z-index: 2;
    svg {
      fill: #919191;
      transition: .3s;
      &:hover {
        fill: #0099d2;
      }
    }
  }
  .slick-prev {
    left: 35px;
  }
  .slick-next {
    right: 35px;
  }
  .slick-prev, .slick-next {
    &:before {
      font-size: 0px;
    }
  }
  .slick-dots {
    bottom: 6px;
    li {
      border-radius: 50%;
      background-color: #ffffff;
      width: 15px;
      height: 15px;
      border: 3px solid #919191;
      transition: .3s;
      &:hover {
        background-color: #0099d2;
      }
    }
    button {
      &:before {
        content: "";
      }
    }
    .slick-active {
      border: 3px solid #0099d2;
    }
  }
}
.latest-news {
  padding: 80px 0;
  h2 {
    line-height: 17.96px;
    margin: 0 0 90px;
  }
  .flex-ct {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  figure {
    transition: .5s;
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    width: 49%;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
    &:nth-child(3), &:nth-child(4) {
      .text-ct {
        order: 1;
      }
      .img-ct {
        order: 2;
      }
    }
  }
  .visible {
    opacity: 1;
  }
  .hidden {
    opacity: 0;
  }
  .img-ct {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .text-ct {
    width: 50%;
    padding: 37px 15px 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      color: #2f2f2f;
      font-size: 20px;
      line-height: 38px;
      text-transform: uppercase;
    }
    p {
      text-align: center;
      color: #919191;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin: 0 0 70px;
    }
    .btn-ct {
      display: flex;
      justify-content: center;
    }
    a {
      background-color: #0099d2;
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      padding: 15px 52px;
      transition: .3s;
      &:hover {
        opacity: .7;
        border-radius: 3px;
      }
    }
  }
}
.our-vision {
  background: url("../images/our-vision-bg.png") no-repeat 50% 100% fixed;
  background-size: cover;
  padding: 80px 0 90px;
  h2 {
    margin: 0 0 45px;
    line-height: 24px;
  }
  p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #919191;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 30px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}
.gift-card {
  margin: 5px 0;
  background-color: #dceef7;
  padding: 8px 12px;
  .flex-ct {
    display: flex;
    justify-content: center;
  }
  img {
    align-self: center;
    width: 34px;
    margin: 0 22px 0 0;
  }
  h3 {
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0 5px 0 0;
  }
  p {
    align-self: center;
    color: #2f2f2f;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-weight: 300;
    a {
      color: #2f2f2f;
      transition: .3s;
      &:hover {
        color: $blue;
      }
    }
  }
}
footer {
  .footer-menu {
    padding: 30px 0 40px;
    .flex-ct {
      display: flex;
      justify-content: space-between;
    }
    ul {
      margin: 0;
      padding: 0;
      width: 33%;
      li {
        list-style: none;
        &:first-child {
          margin: 0 0 35px;
        }
      }
      h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #2f2f2f;
        line-height: 17.99px;
        text-transform: uppercase;
      }
      a {
        color: #919191;
        font-family: 'Montserrat', sans-serif;
        line-height: 29.99px;
        text-decoration: none;
      }
      &:nth-child(3) {
        a {
          color: #000000;
        }
      }
      &:last-child {
        a {
          display: flex;
        }
        svg {
          align-self: center;
          margin: 0 0 0 -20px;
        }
        p {
          margin: 0 0 0 12px;
        }
      }
      a {
        transition: .3s;
        &:hover {
          color: $blue;
        }
      }
    }
  }
  .copyright {
    background-color: #f0f0f0;
    padding: 43px 0 38px;
    img {
      display: block;
      margin: 0 auto 17px;
    }
    p {
      color: #919191;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-size: 12px;
      font-weight: 300;
      line-height: 32px;
    }
  }
}