<!-- FOOTER -->
<footer class="footer">
    <div class="footer-menu">
        <div class="container">
            <div class="flex-ct">
                <ul>
                    <li><h3>HELP & CONTACT</h3></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Voucher Information</a></li>
                    <li><a href="#">Customer Service</a></li>
                </ul>
                <ul>
                    <li><h3>business</h3></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Partnerprogramm</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
                <ul>
                    <li><h3>Top Categories</h3></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Buy Gift Vouchers</a></li>
                    <li><a href="#">Voucher Information</a></li>
                    <li><a href="#">Student Discount</a></li>
                </ul>
                <ul>
                    <li><h3>Account</h3></li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 491.86 491.86" style="enable-background:new 0 0 491.86 491.86;" xml:space="preserve" width="8px" height="8px">
                                <g>
                                    <g>
                                        <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69    C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69    s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z" fill="#919191"/>
                                    </g>
                                </g>
                            </svg>
                            <p>Your Account</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 491.86 491.86" style="enable-background:new 0 0 491.86 491.86;" xml:space="preserve" width="8px" height="8px">
                                <g>
                                    <g>
                                        <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69    C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69    s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z" fill="#919191"/>
                                    </g>
                                </g>
                            </svg>
                            <p>Order Status</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 491.86 491.86" style="enable-background:new 0 0 491.86 491.86;" xml:space="preserve" width="8px" height="8px">
                                <g>
                                    <g>
                                        <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69    C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69    s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z" fill="#919191"/>
                                    </g>
                                </g>
                            </svg>
                            <p>Wish List</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 491.86 491.86" style="enable-background:new 0 0 491.86 491.86;" xml:space="preserve" width="8px" height="8px">
                                <g>
                                    <g>
                                        <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69    C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69    s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z" fill="#919191"/>
                                    </g>
                                </g>
                            </svg>
                            <p>Live Chat</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <img src="../images/footer-logo.png" alt="logo">
        <p>&copy; Copyright Workspace & Co, All Rights Reserved.</p>
    </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="js/plagins/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>

<script type="text/javascript" src="js/plagins/select2.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>


<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/main.js" ></script>
<script type="text/javascript" src="js/develop/custom.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
