<!-- HEADER -->
<header>
    <div class="flex-ct">
        <div class="logo-ct">
            <img src="../images/logo.png" alt="logo">
        </div>
        <div class="form">
            <form action="" method="get">
                <input name="s" placeholder="Type in to Search..." type="search">
                <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="13px" height="13px">
                    <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" fill="#FFFFFF"/>
                </svg>
                </button>
            </form>
        </div>
        <div class="icons-block">
            <div class="icon-block login-block">
                <a href="#">
                    <img src="../images/account.png" alt="">
                    <p>Login</p>
                </a>
            </div>
            <div class="icon-block bag-block">
                <div class="counter-ct">
                    <p>1</p>
                </div>
                <a href="#">
                    <img src="../images/bag.png" alt="">
                    <p>My bag</p>
                </a>
            </div>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Our Jobs</a></li>
            <li><a href="#">Deals</a></li>
            <li><a href="#">Fresh News</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Our Shop</a></li>
            <li>
                <ul>
                    <li class="sale"><a href="#">Sale</a></li>
                    <li class="first-A"><a href="#">A</a></li>
                    <li class="second-A"><a href="#">A</a></li>
                    <li class="third-A"><a href="#">A</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<!-- /HEADER -->
