<div class="slider">
    <div class="fade">
        <div class="slide-ct slide-1">
            <div class="text-ct">
                <h2>Workspace</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    do eiusmod tempor incididunt ut labore et dolore magna. </p>
            </div>
        </div>
        <div class="slide-ct slide-2">
            <div class="text-ct">
                <h2>Workspace 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    do eiusmod tempor incididunt ut labore et dolore magna. </p>
            </div>
        </div>
        <div class="slide-ct slide-3">
            <div class="text-ct">
                <h2>Workspace 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    do eiusmod tempor incididunt ut labore et dolore magna. </p>
            </div>
        </div>
    </div>
</div>
<div class="latest-news">
    <div class="container">
        <h2>Latest News</h2>
        <div class="flex-ct">
            <figure>
                <div class="img-ct">
                    <img src="../images/news-1.png" alt="">
                </div>
                <div class="text-ct">
                    <div class="desc-ct">
                        <h3>smart watches</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. </p>
                    </div>
                    <div class="btn-ct">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </figure>
            <figure>
                <div class="img-ct">
                    <img src="../images/news-2.png" alt="">
                </div>
                <div class="text-ct">
                    <div class="desc-ct">
                        <h3>POPULAR DESIGN NEWS</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. </p>
                    </div>
                    <div class="btn-ct">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </figure>
            <figure>
                <div class="img-ct">
                    <img src="../images/news-3.png" alt="">
                </div>
                <div class="text-ct">
                    <div class="desc-ct">
                        <h3>20 best new websites</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. </p>
                    </div>
                    <div class="btn-ct">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </figure>
            <figure>
                <div class="img-ct">
                    <img src="../images/news-4.png" alt="">
                </div>
                <div class="text-ct">
                    <div class="desc-ct">
                        <h3>wat’s new</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. </p>
                    </div>
                    <div class="btn-ct">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </figure>
        </div>
    </div>
</div>
<div class="our-vision">
    <div class="container">
        <h2>Our Vision</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            <br>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <img src="../images/handshake.png" alt="">
    </div>
</div>
<div class="gift-card">
    <div class="container">
        <div class="flex-ct">
            <img src="../images/gift.png" alt="gift">
            <h3>Let them decide!</h3>
            <p>Pick out a <a href="#">Gift Card</a> and give them choice!</p>
        </div>
    </div>
</div>